%p#notice= notice

%h4 Fields
.well
  %p
    %b Title:
    = @questionnaire.title
  %p
    %b Description:
    = @questionnaire.description
  %p
    %b Last Updated:
    = @questionnaire.updated_at

%h4
  Definition
.well
  = @questionnaire.to_text

%span
  = link_to 'Parse', questionnaire_parse_path(@questionnaire), class: "btn btn-inverse"
