%p#notice= notice

%p
  %b Title:
  = @questionnaire.title
%p
  %b Description:
  = @questionnaire.description

= link_to 'Edit', edit_questionnaire_path(@questionnaire)
\|
= link_to 'Back', questionnaires_path
