.well
  = form_for @event, html: { id: 'event-form' } do |e|
    %fieldset
      = bootstrapped_field(e, @event, :text_field, :title)
      = bootstrapped_field(e, @event, :text_area, :description)
      = bootstrapped_field(e, @event, :text_field, :where)

    .control-group
      = e.label :when, class: "control-label"
      .controls#datetime-picker.input-append
        = e.text_field :when
        %span.add-on
          %i{ :data => {:time_icon => "icon-time", :date_icon => "icon-calendar"} }

    .actions
      = e.submit 'Create', class: 'btn btn-primary'

- content_for :javascript do
  :javascript
    $(function() { $('#datetime-picker').datetimepicker({ language: 'en', pick12HourFormat: true }); });
