%h1 Active Instances

%table.table
  %tr
    %th Name
    %th Email
    %th Due date
    %th Completed
    %th Notification count
    %th Notify
    -# %th
    -# %th
    %th

  - @instances.each do |instance|
    %tr
      %td= instance.name
      %td= instance.email
      %td= instance.due_date
      %td= instance.notification_count
      %td n/a
      %td= link_to "Send Reminder", send_reminder_path(instance), class: "btn btn-mini btn-inverse"
      %td= link_to 'Destroy', questionnaire_instance_path(instance.questionnaire, instance), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-mini btn-danger"

      -# %td= link_to 'Show', instance
      -# %td= link_to 'Edit', edit_instance_path(instance)
      -# %td= link_to 'Destroy', instance, :method => :delete, :data => { :confirm => 'Are you sure?' }
