%h5= @instance.event.title
%h5= @instance.user.email
%h2= @instance.questionnaire.title

%p
  %b Due date:
  = @instance.due_date

%p
  %b Notification count:
  = @instance.notification_count

%span
  Someday we'll put the rsults up on this page, for now just visit them
  = link_to "here.", surveyor.view_my_survey_path(response_set_code: @response_set.access_code, survey_code: @survey.access_code)

%br
%br
  = link_to 'Back', instances_path
