.well
  = form_for @instance, html: { id: 'instance-form' }, url: instances_path do |f|
    %fieldset
      .control-group
        = f.label :due_date, class: "control-label"
        .controls#datetime-picker.input-append
          = f.text_field :due_date
          %span.add-on
            %i{ :data => {:time_icon => "icon-time", :date_icon => "icon-calendar"} }

      .control-group
        = f.label :event, class: "control-label"
        .controls
          = f.select :event_id, @events.map {|e| [e.title, e.id]}, { prompt: "--Select Event--" }

      .control-group
        = f.label :contact, class: "control-label"
        .controls
          = f.select :contact_id, @contacts.map {|c| [c.name, c.id]}, { prompt: "--Select Contact--" }

      .control-group
        = f.label :questionnaire, class: "control-label"
        .controls
          = f.select :questionnaire_id, @questionnaires.map {|q| [q.title, q.id]}, { prompt: "--Select Questionnaire--" }

    .actions
      = f.submit 'Create', class: 'btn btn-primary'
      = link_to "Cancel", instances_path

- content_for :javascript do
  :javascript
    $(function() { $('#datetime-picker').datetimepicker({ language: 'en', pick12HourFormat: true }); });
